<div class="row col-md-6" >
 
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="nome">Nome</label><br/>
        <input type="text" class="form-control" id="nome" 
               placeholder = "Nome" [(ngModel)] = "aluno.nome"> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="data_nascimento">Data de Nascimento</label><br/>
        <div class="col-xs-12 col-12 col-sm-5 col-md-6 col-lg-4 form-group">
          <input placeholder="Data de Nascimento" type="text" class="form-control" bsDatepicker #dp="bsDatepicker"  [(ngModel)] = "aluno.data_nascimento" id="data_nascimento" >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="serie">Ano</label>
        <select
          class="custom-select form-control" id="serie" placeholder = "Ano"  [(ngModel)] = "aluno.serie">
          <option value=1>1°</option>
          <option value=2>2°</option>
          <option value=3>3°</option>
          <option value=4>4°</option>
          <option value=5>5°</option>
          <option value=6>6°</option>
          <option value=7>7°</option>
          <option value=8>8°</option>
          <option value=9>9°</option>
        </select>
      </div>
    </div>
  </div>

  <div>
    <h4><label>Dados da Mãe: </label></h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nome_mae">Nome da mãe</label><br/>
          <input type="text" class="form-control" id="nome_mae" 
                  placeholder = "Nome Mãe" [(ngModel)] = "aluno.nome_mae"> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="cpf_mae">CPF da Mãe</label><br/>
          <input type="text" class="form-control" id="cpf_mae"
                  placeholder = "XXX.XXX.XXX-XX"  [(ngModel)] = "aluno.cpf_mae"> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="data_pagamento">Data de pagamento da mensalidade</label><br/>
          <select
            class="custom-select form-control" id="data_pagamento" placeholder = "Dia"  [(ngModel)] = "aluno.data_pagamento">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            <option value=10>10</option>
            <option value=11>11</option>
            <option value=12>12</option>
            <option value=13>13</option>
            <option value=14>14</option>
            <option value=15>15</option>
            <option value=16>16</option>
            <option value=17>17</option>
            <option value=18>18</option>
            <option value=19>19</option>
            <option value=20>20</option>
            <option value=21>21</option>
            <option value=22>22</option>
            <option value=23>23</option>
            <option value=24>24</option>
            <option value=25>25</option>
            <option value=26>26</option>
            <option value=27>27</option>
            <option value=28>28</option>
            <option value=29>29</option>
            <option value=30>30</option>

          </select>
        </div>
      </div>
    </div>
  </div>
    
    <button type="button" (click)="consultar()" class="btn btn-primary" >
      Consultar Aluno</button>              
    <button type="button" (click)="incluir()"   class="btn btn-primary" >
      Incluir Aluno</button>
</div>

<app-cep></app-cep>