<h4><label>Endereço : </label></h4>
<div class="row col-md-6">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
          <label for="cep">CEP</label><br/>
          <input type="text" class="form-control" id="cep" placeholder = "00000-000"> 
      </div>
    </div>
      <div class="col-md-8">
        <button type="button" class="btn btn-primary" >Consultar CEP</button>
      </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
          <label for="rua">Rua</label><br/>
          <input type="text" class="form-control" id="rua" placeholder="Rua">
      </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="numero">Número</label><br/>
            <input type="text" class="form-control" id="numero" placeholder="Número">
        </div>
    </div>
  </div>
  <div class="form-group">
      <label for="complemento">Complemento</label><br/>
      <input type="text" class="form-control" id="complemento" placeholder="Complemento">
  </div>
  <div class="row">
    <div class="col-md-6">
     
      <div class="form-group">
          <label for="bairro">Bairro</label><br/>
          <input type="text" class="form-control" id="bairro" placeholder="Bairro">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="cidade">Cidade</label><br/>
        <input type="text" class="form-control" id="cidade" placeholder="Cidade">
      </div>
    </div>
  </div>
  <div>
    <div class="form-group">
        <label for="estado">Estado</label><br/>
        <input type="text" class="form-control" id="estado" placeholder="Estado">
    </div>
  </div>
</div>




